.logo {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 25%;
    min-height: 25%;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    text-decoration: none;
    pointer-events: none;

}



align-items: center;
padding: 34px 0%;
position: fixed;
height: 100px;
bottom: 86%;
z-index: 52;
left: 6%;