.login li, p {
    margin-top: 300px;
}
.signup {
    margin-left: 10px;
    display: inline-block;
    color: black;
}
.signup p {
    margin-left: 10px;
    display: inline-block;
    color: black;
}
